

<footer class="text-center mt-5 cFooter justify-content-center">

    <ul class="cFooterList d-flex justify-content-center flex-wrap">
                   <li class="cCopyright">©
                      {{ "now" | date: "%Y" }} WSO2 LLC
                   </li>
                   <li class="cLeft"><a href="https://wso2.com/legal/" id="iFooterTxtTracking_Mobile_Legal" class="cFooterLinkTracking" aria-label="WSO2 Legal">WSO2 Legal</a></li>
                   <li><a href="https://wso2.com/california-privacy#opt-out" id="iFooterTxtTracking_Privacy" class="cFooterLinkTracking" aria-label="Do Not Sell
                      My Personal Information">Do Not Sell
                      My Personal Information</a>
                   </li>
                   <li><a href="https://wso2.com/modern-slavery-statement" id="iFooterTxtTracking_Mobile_modern_slavery_statement" class="cFooterLinkTracking" aria-label="Modern Slavery Statement">Modern Slavery Statement</a></li>
                   <li><a href="mailto:human-response@wso2.com" id="iFooterTxtTracking_Mobile_Report" class="cFooterLinkTracking" aria-label="Report a
                      Problem With This Page">Report a
                      Problem With This Page</a>
                   </li>
                </ul>


</footer>